@font-face {
	font-family: "Brandon_light";
	src: url(../fonts/Brandon_light.otf) format("OpenType");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Brandon_bld";
	src: url(../fonts/Brandon_bld.otf) format("OpenType");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Brandon_blk";
	src: url(../fonts/Brandon_blk.otf) format("OpenType");
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	background-color: #fbfbfb;
}
a, button {
	text-transform: uppercase;
	font-family: "Brandon_blk"
}
a:hover {
	text-decoration: none;
}
h4, h5, h6 {
	text-transform: uppercase;
}
h4 {
	font-family: "Brandon_blk";
	font-size: 1.7em;
}
h5 {
	font-family: "Brandon_light";
	font-size: 2.5em;	
}

.home-section {
	background-image: url(../img/blue.png);
}
.home-section article img {
	margin-top: 16%;
}
.home-section nav ul{
	float: right;
	margin-top: 8.5%;
}
.home-section nav ul li {
	list-style: none;
	display: inline;
	margin-left: 15px;
}
.home-section nav ul li a {
	color: #fff;
	font-family: "Brandon_blk";
    font-size: 1.2em;
    text-transform: uppercase;
}
.home-section .btn-menu {
	border-radius: 4px;
	border: 2px solid #fff;
	padding: 12px 17px 12px 24px; 
	background-repeat: no-repeat;
	background-position: 3px 8px;
	background-color: transparent;
	opacity: .6;
	text-transform: uppercase;
	color: #fff;
}
.home-section .btn-enterprise {
	background-image: url(../img/enterprise-icon.png);
}
.home-section .btn-enterprise:hover {
	background-color: #3bb2df;
	border-color: #3bb2df;
	opacity: 1;
	color: #fff;
}
.home-section .btn-startup {
	background-image: url(../img/startup-icon.png);
}
.home-section .btn-startup:hover {
	background-color: #4fd08f;
	border-color: #4fd08f;
	opacity: 1;
	color: #fff;
}
.home-section article.info, aside.mobile {
	margin-top: 19%;
}
.home-section article.info {
	color: #fff;
}
.home-section article.info h1, h2 {
	text-transform: uppercase;
}
.home-section article.info h1, h3 {
	font-family: "Brandon_light";
	font-size: 1.5em;
}
.home-section article.info h2 {
	font-size: 6em;
	font-family: "Brandon_blk"
}
.home-section .btn-join {
	margin-top: 10%;
	background-color: #4fd08f;
	border-radius: 100px;
	border: 2px solid #4fd08f;
	font-size: 1.2em;
	padding: 15px;

}
.home-section .btn-join:hover {
	background-color: #3bb2df;
	border: 2px solid #3bb2df;
	color: #fff;
}
.home-section p {
	text-align: center;
	font-family: "Brandon_light";
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 3%;
}
.home-section footer img {
	width: 18px;
}

.sales-section .sales-header {
	background-image: url(../img/type.png);
}

.sales-section .stats-item {
	color: white;
	padding-left: 3%;
}

.sales-section .sales-image {
	margin-top: -18%;
	float: right;
	border-radius: 4px;
}

.sales-section .sales-aside {
	height: 217px;
}

.sales-section .sales-aside-btn-container {
	height: 50%;
}

.sales-section .sales-aside-btn{
	margin-left: 10%;
	margin-top: 20%;
}

.team-section header {
	text-align: center;
	margin-top: 4%;
}
.team-section h4 {
	color: #3bb2df;
}
.team-section h5 {
 	color: #78909c;
 }
.team-section main {
	margin-top: 3%;
	text-align: center;
	margin-bottom: 3%;
}
.team-section img {
	width: 350px;
	height: 150px;
	border-radius: 8px;
	margin-left: 25px;
	
}
.team-section img:hover {
	height: 180px;
	margin-top: -15px;
}
.product-section {
	background-image: url(../img/purple.png);
}
.product-section header {
	text-align: center;
	margin-top: 3%;
	margin-bottom: 3%;
}

.product-section header h4, h5 {
	color: #fff;
}

.product-section article  {
	width: 430px;
	height: 500px;
	background-color: #f3f6f8;
	border-radius: 8px;
	margin-bottom: 7%;
}
.product-section article.box-left {
	float: left;
}
.product-section article.box-right {
	float: right;
}
.product-section div.box-center {
	width: 10px;
	margin-left: 120px;
    margin-top: 200px;
}

.product-section div.title h5 {
	font-size: 1.3em;
	font-family: "Brandon_blk"
}
.product-section .navy h5 {
	color: #5078ed;
}
.product-section .indigo h5 {
	font-size: 1.3em;
	color: #673ab7;
}
.product-section div.title h6 {
	color: #597a96;
	font-size: 1.5em;
	margin-top: -4%;
}
.product-section .header-title {
	border-bottom-style: dotted;
	border-bottom-color: #d9dee5;
	margin-bottom: 5%;
}
.product-section .header-title button {
	margin-top: 2%;
	border: 2px solid #5078ed;
	border-radius: 4px;
	background-color: #5078ed;
	padding: 10px;
	color: #fff;
}
.product-section .header-title button:hover {
	background-color: #4fd08f;
	border: 2px solid #4fd08f;
}
.product-section .title {
	margin-bottom: 20px;
}
.product-section p {
	font-family: "Brandon_light";
	font-size: 1.3em;
	color: #92acb6;
}
.partner-section {
	text-align: center;
}
.partner-section header {
	margin-top: 3%;
    margin-bottom: 3%;
}
.partner-section h4 {
	color: #536dfe;
}
.partner-section h5 {
	color: #78909c;
}
.partner-section .item {
	border: 1px solid #c4cfd4;
	opacity: .5;
}
.partner-section .item:hover {
	box-shadow: 0px 0px 20px #c4cfd4;
	opacity: 1;
}
.portfolio-section {

}
.portfolio-section .global img {
	width: 394px;
    height: 560px;
}
.portfolio-section img:hover {
	opacity: .6;
	background-color: red;
}
.portfolio-section .adn img {
	width: 876px;
    height: 214px;
}
.portfolio-section .vintage img {
	width: 445px;
    height: 346px;
}
.portfolio-section .you img {
	width: 263px;
    height: 214px
}
.portfolio-section .mobile img {
	width: 263px;
    height: 346px;
}
.feedback-section {
	background-image: url(../img/people.png);
}
.feedback-section .feedback {
	margin-top: 3%;
	margin-bottom: 7%;
	height: 100px;
}
.feedback-section h5, .feedback-section h6, .feedback-section p {
	color: #fff;
}
.feedback-section p, .feedback-section aside h6 {
	font-family: "Brandon_light"
}
.feedback-section p {
	font-size: 1.3em;
}
.feedback-section p.author {
	font-family: "Brandon_bld";
}
.feedback-section aside h5 {
	font-family: "Brandon_blk";
	font-size: 1.8em;
	
	line-height: 1px;
}
.feedback-section aside h6 {
	font-size: 2.3em;
}
.feedback-section .item {
	margin-top: 5px;
}
.feedback-section .item img {
	width: 9%;
}
.feedback-section .color-foot header {
	padding-top: 2%;
	text-align: center;
	padding-bottom: 5%;
	background-color: #fdfbfb;
}
.feedback-section .color-foot h4 {
	color: #7285fe;
}
.feedback-section .color-foot h5 {
	color: #78909c;
}
.feedback-section .color-foot section {
	margin-top: -45px;
}
.feedback-section .container-full {
 position: absolute;
    width: 100%;
    left: 0;
}
.feedback-section .colors {
	height: 100px;
	width: 190px;
	float: left;
	position: relative;
	margin-top:12%;
}
.feedback-section .colors:hover {
	height: 150px;
	margin-top: 9.9%; 
}
.feedback-section .violet{
	background-color: #d500f9;
}
.feedback-section .blue {
	background-color: #536dfe;
}
.feedback-section .green {
	background-color: #64dd17;
}
.feedback-section .orange {
	background-color: #ff8f00;
}
.feedback-section .purple {
	background-color: #5e35b1;
}
.feedback-section nav {
	padding: 3% 0;
}
.feedback-section nav ul {
	text-align: center;
	margin-bottom: 20px;
}
.feedback-section nav ul li {
	list-style: none;
    display: inline;
}
.feedback-section nav ul li a {
	color: #fff;
	font-size: 1.2em;
	opacity: .6;
	border-right: 1px solid #fff;
	padding: 0 1%;
}
.feedback-section nav ul li a:hover {
	opacity: 1;
}
.feedback-section .foot p, .feedback-section h6 {
	font-family: "Brandon_blk";
	text-align: center;
	font-size: 1.2em;
}
.feedback-section h6, .feedback-section footer p {
	text-transform: uppercase;
}
.feedback-section .foot article {
	margin-top: 5%;
	margin-bottom: 3%;
}
.feedback-section footer {
	margin-bottom: 1%;
}
.feedback-section .foot footer p {
	font-size: 1em;
}
