@font-face {
	font-family: "Brandon_light";
	src: url(../fonts/Brandon_light.otf) format("OpenType");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Brandon_bld";
	src: url(../fonts/Brandon_bld.otf) format("OpenType");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Brandon_blk";
	src: url(../fonts/Brandon_blk.otf) format("OpenType");
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	background-color: #fbfbfb;
}
a, button {
	text-transform: uppercase;
	font-family: "Brandon_blk"
}
a:hover {
	text-decoration: none;
}
.home-section {
	background-image: url(../img/blue.png);
}
.home-section article img {
	margin-top: 50px;
}
.home-section nav ul{
	float: right;
	margin-top: 60px;
}
.home-section nav ul li {
	list-style: none;
	display: inline;
	margin-left: 15px;
}
.home-section nav ul li a {
	color: #fff;
	font-family: "Brandon_blk";
    font-size: 1.2em;
    text-transform: uppercase;
}
.home-section .btn-menu {
	border-radius: 4px;
	border: 2px solid #fff;
	padding: 12px 17px 12px 24px; 
	background-repeat: no-repeat;
	background-position: 3px 8px;
	background-color: transparent;
	opacity: .6;
	text-transform: uppercase;
	color: #fff;
}
.home-section .btn-enterprise {
	background-image: url(../img/enterprise-icon.png);
}
.home-section .btn-enterprise:hover {
	background-color: #3bb2df;
	border-color: #3bb2df;
	opacity: 1;
	color: #fff;
}
.home-section .btn-startup {
	background-image: url(../img/startup-icon.png);
}
.home-section .btn-startup:hover {
	background-color: #4fd08f;
	border-color: #4fd08f;
	opacity: 1;
	color: #fff;
}
article.info, aside.mobile {
	margin-top: 180px;
}
article.info {
	color: #fff;
}
article.info h1, h2 {
	text-transform: uppercase;
}
article.info h1, h3 {
	font-family: "Brandon_light";
	font-size: 1.5em;
}
article.info h2 {
	font-size: 6em;
	font-family: "Brandon_blk"
}
.btn-join {
	margin-top: 30px;
	background-color: #4fd08f;
	border-radius: 100px;
	border: 2px solid #4fd08f;
	font-size: 1.2em;
	padding: 15px;

}
.btn-join:hover {
	background-color: #3bb2df;
	border: 2px solid #3bb2df;
	color: #fff;
}
.home-section p {
	text-align: center;
	font-family: "Brandon_light";
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 30px;
}
.home-section footer img {
	width: 18px;
}
.team-section header {
	text-transform: uppercase;
	text-align: center;
	margin-top: 50px;
}
.team-section h4 {
	font-family: "Brandon_blk";
	color: #3bb2df;
	font-size: 1.5em;
}
.team-section h5 {
	font-family: "Brandon_light";
 	color: #78909c;
 	font-size: 3em;
}
.team-section main {
	margin-top: 25px;
	text-align: center;
}
.team-section img {
	width: 300px;
	height: 150px;
	border-radius: 8px;
	margin-left: 15px;
}
.team-section img:hover {
	width: 350px;
	height: 175px;
}
.product-section {
	background-image: url(../img/purple.png);
}
.product-section header {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}
.product-section header h4, h5, h6 {
	text-transform: uppercase;
}
.product-section header h4, h5 {
	color: #fff;
}
.product-section header h4 {
	font-family: "Brandon_blk";
	font-size: 1.5em;
}
.product-section header h5 {
	font-family: "Brandon_light";
	font-size: 2.5em;
}
.product-section article  {
	width: 430px;
	height: 500px;
	background-color: #f3f6f8;
	border-radius: 8px;

}
.product-section article.box-left {
	float: left;
}
.product-section article.box-right {
	float: right;
}
.product-section div.box-center {
	width: 10px;
	margin-left: 120px;
    margin-top: 200px;
}
.product-section div.title h5, h6 {
	font-family: "Brandon_blk";
	
}
.product-section div.title h5 {
	font-size: 1.3em;
}
.product-section .navy h5 {
	color: #5078ed;
}
.product-section .indigo h5 {
	font-size: 1.3em;
	color: #673ab7;
}
.product-section div.title h6 {
	color: #597a96;
	font-size: 1.6em;
	margin-top: -10px;
}
.product-section .header-title button {
	margin-top: 10px;
	border: 2px solid #5078ed;
	border-radius: 4px;
	background-color: #5078ed;
	padding: 10px;
	color: #fff;
}
.product-section .header-title button:hover {
	background-color: #4fd08f;
	border: 2px solid #4fd08f;
}
.product-section article p {
	border-top-style: dotted;
}
.colors{
	height: 100px;
	width: 180px;
	float: left;
}
.colors:hover {
	height: 150px;
	margin-top:-25px; 
}
.violet{
	background-color: #d500f9;
}
.blue {
	background-color: #536dfe;
}
.green {
	background-color: #64dd17;
}
.orange {
	background-color: #ff8f00;
}
.purple {
	background-color: #5e35b1;
}